:root { 
  --default-color: #088c4e;
  --accent-color: #d0e2db;
  --second-color:#9cbeb1;  
  --white-color: #ffffff; 
  --light-gray-color: #f2f3f2;
  --gray-color: #d3d6d6;  
  --black-color: #494949;	
  --shadow-color: rgba(0, 0, 0, 0.2);
}
.colorblack {
    color: var(--black-color);
}
.colorwhite {
    color: var(--white-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  color: var(--default-color);
}
a {
    color: var(--default-color);
}
.space-bet {
    justify-content: space-between;
}
ul.navigate-area {
    list-style: none;
    padding: 0px;
    display: inline-flex;
}
a {
  text-decoration: none;
}
ul.navigate-area li {
    padding: 10px;
}
ul.navigate-area li a.nav-tp-item{
    padding: 10px;
}
img.top-logo {
    width: 170px;
}
.nav-row {
    padding: 30px 5px;
}
a.nav-tp-item {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
}


/**** END NAV ******/

.section-area {
    padding: 50px 30px;
}

.btn-position {
    color: var(--white-color);
    background-color: var(--default-color);
    padding: 9px 20px;
    border-radius: 20px;
    font-weight: 400;
    transition: transform 1s ease; 
    border: 0px;
}
.btn-position:hover {
    background-color: var(--accent-color);
    color: var(--default-color);
    border: 0px;
}
.btn-position-alter {
    color: var(--white-color);
    background-color: var(--second-color);
    padding: 9px 20px;
    border-radius: 7px;
    font-weight: 400;
    transition: transform 1s ease; 
    border: 0px;
}
.btn-position-alter:hover {
    background-color: var(--default-color);
    color: var(--second-color);
}
img.img-banner {
    width: 100%;
}
.access-background {
    background-color: var(--accent-color);
   
}
.access-background.curver {
    border-radius: 20px;
}
h1, h2, h4, h5{
  color: var(--default-color);
}
.enlarge-2 h2 {
    font-size: 50px;
}
.enlarge-2 ul li {
    font-size: 20px;
    line-height: 40px;
}
.nav-left-part {
    padding-top: 40px;
    padding-left: 10px;
}
.boost1 {
    color: var(--black-color);
    font-size: 90px;
    font-weight: 900;
}
.boost2 {
    font-size: 70px;
    font-weight: 800;
}
.boost3 {
    font-size: 50px;
    font-weight: 800;
}
.boost4 {
    font-size: 35px;
}
.boost5 {
    font-size: 27px;
}

img.logo-download-img {
    width: 230px;
}

.app-downloading {
    display: flex;
}
.place-link-left {
    text-align: right;
  padding: 10px;
}
.place-link-right {
    text-align: left;
   padding: 10px;
}
.quesion-point-view {
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.qu-icon.rotate-90 {
    transform: rotate(182deg);
}
.qu-icon {
    position: absolute;
    transform: rotate(87deg);
    padding: 2px;
    transition-duration: 300ms;
    font-size: 40px;
    color: var(--accent-color);
}
.faq-item {
    cursor: pointer;
    margin-top: 15px;
}
.font-semibold {
    padding-left: 51px;
    margin-top: 5px;
    padding-top: 13px;
    font-weight: 700;
    font-size: 25px;
}

.faq-list p {
    padding-left: 51px;
}
.middle-info {
    padding: 20px;
    width: 60%;
    margin: auto;
    font-size: 20px;
}
.button-interaction {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.button-interaction button {
    margin-right: 10px;
}
.strong {
    font-weight: 600;
}
.strong2 {
    font-weight: 800;
}
.pd30 {
    padding: 30px;
}
.foot-menu-box {
    padding-top: 10px;
}
.foot-menu-box ul{
    list-style: none;
    padding: 0;
}

ul.menu-foot {    
    width: 160px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
    height: 100%;
    display: block;
}

ul.menu-foot li a {
    display: block;
    color: var(--default-color);
    margin-top: 2px;
    margin-bottom: 5px;
}
.foot-menu-box h4 {
    font-size: 15px;
    font-weight: 800;
}
video.video-banner {
    border-radius: 20px;
    width: 100%;
}
.view-section {
    padding: 10px;
}


/* 1. Reset the default list style and enable manual counting */
.dash-part {
  list-style: none; /* Hide the default '1.', '2.', '3.' */
  counter-reset: dash-counter; /* Initialize the counter */
  padding-left: 0; /* Remove default padding for clean alignment */
}

.dash-part li {
  /* Ensure the custom marker is positioned correctly */
  position: relative;
  margin-bottom: 10px; /* Space between items */
  padding-left: 25px; /* Make space for the custom marker */
  counter-increment: dash-counter; /* Increment the counter for each <li> */
}

/* 2. Style the custom marker (the number and the dash) */
.dash-part li::before {
  content: counter(dash-counter) ' — '; /* Display the number and the long dash */
  color: var(--gray-color); /* Example: A blue color */
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
}
.list-item-hm {
    margin-left: 40px;
    font-weight: 300;
}
.part-video {
    padding: 15px;
}
.modal.fade.show {
    background: #00000061;
}
.modal.show {
    display: block;
}
.frm-edit {
    text-align: left;
}
.form-control{
    background-color: var(--accent-color);
}
.hite2 {
    min-height: 200px !important;
}
.mobil-menu-show {
    display: none;
}
.foot-logo-box img.img-logo {
    width: 100%;
}
.foot-navi-menu-box.foot-menu-box img.logo-download-img {
    width: 140px;
}

ul.menu-flex-low {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
}
ul.menu-flex-low li .bottom-copy 
 {
    color: var(--default);
    background: transparent;
    border: none;
    font-size: 12px;
}
.modal-dialog.modal-big {
    width: 70% !important;
    max-width: 70%;
}
.terms-service-edit {
    height: 500px;
    overflow-y: scroll;
    font-size: 11px;
}
img.dog-show {
    width: 110%;
}
.map-container {
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 1130px) {
    img.dog-show {
        width: 400px;
    }
    .boost1 {
        font-size: 80px;
    }
    .boost2 {
        font-size: 60px;
    }
    .boost3 {
        font-size: 40px;
    }
    .boost4 {
        font-size: 36px;
    }
    .boost5 {
        font-size: 26px;
    }
}
@media (max-width: 1000px) {
    img.dog-show {
        width: 340px;
    }
}
@media (max-width: 768px) {
    .mobil-menu-show {
        display: block;
        float: right;
        margin-top: -50px;
        font-size: 20px;
        border: 0px;
        padding: 5px 9px 8px 11px;
        border-radius: 3px;
    }
    .boost1 {
        font-size: 70px;
    }
    .boost2 {
        font-size: 30px;
    }
    .boost3 {
        font-size: 30px;
    }
    .boost4 {
        font-size: 25px;
    }
    .boost5 {
        font-size: 20px;
    }

    .nav-row {
        background: var(--gray-color);
        width: 100%;
    }
    .nav-row .d-flex.space-bet {
        display: block !important;
    }
    .nav-row .d-flex.space-bet ul.navigate-area {
        display: block;
    }
    .section-area {
        padding: 30px 8px;
    }
    .app-downloading {
        display: block;
    }
    img.logo-download-img
    {
        width: 180px;
    }
    .place-link-left {
        text-align: left;
    }
    img.dog-show {
        width: 200px;
    }
    ul.navigate-area.showfalse {
        display: none !important;
    }
    ul.menu-flex-low {
        display: block;
        padding: 5px;
        margin-top: 10px;
    }
    .bottom-copy {
        padding: 5px;
    }
    .modal-dialog.modal-big 
    {
        width: 96% !important;
        max-width: 95%;
    }
}
@media (max-width: 480px){
    .part-video.outer-second-video {
        text-align: center;
    }
    video.video-banner.mb-second-video {
        width: 70%;
        margin: auto;
    }
}