:root { 
  --default-color: #088c4e;
  --accent-color: #d0e2db;
  --second-color:#9cbeb1;  
  --white-color: #ffffff; 
  --light-gray-color: #f2f3f2;
  --gray-color: #d3d6d6;  
  --black-color: #090909;	
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--default-color);
}
.space-bet {
    justify-content: space-between;
}
ul.navigate-area {
    list-style: none;
    padding: 0px;
    display: inline-flex;
}
a {
  text-decoration: none;
}
ul.navigate-area li {
    padding: 10px;
}
ul.navigate-area li a.nav-tp-item{
    padding: 10px;
}
img.top-logo {
    width: 170px;
}
.nav-row {
    padding: 30px 5px;
}
a.nav-tp-item {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
}


/**** END NAV ******/

.section-area {
    padding: 50px 30px;
}

.btn-position {
    color: var(--white-color);
    background-color: var(--default-color);
    padding: 9px 20px;
    border-radius: 7px;
    font-weight: 400;
    transition: transform 1s ease; 
    border: 0px;
}
.btn-position:hover {
    background-color: var(--accent-color);
    color: var(--default-color);
    border: 0px;
}
.btn-position-alter {
    color: var(--white-color);
    background-color: var(--second-color);
    padding: 9px 20px;
    border-radius: 7px;
    font-weight: 400;
    transition: transform 1s ease; 
    border: 0px;
}
.btn-position-alter:hover {
    background-color: var(--default-color);
    color: var(--second-color);
}
img.img-banner {
    width: 100%;
}
.access-background {
    background-color: var(--accent-color);
    max-height: 410px;
}
.access-background.curver {
    border-radius: 20px;
}
h1, h2, h4, h5{
  color: var(--default-color);
}
.enlarge-2 h2 {
    font-size: 50px;
}
.enlarge-2 ul li {
    font-size: 20px;
    line-height: 40px;
}
.nav-left-part {
    padding-top: 40px;
    padding-left: 10px;
}
.boost1 {
    color: var(--black-color);
    font-size: 90px;
    font-weight: 900;
}
.boost2 {
    font-size: 70px;
}
.boost3 {
    font-size: 50px;
}
.boost4 {
    font-size: 35px;
}

img.logo-download-img {
    width: 270px;
}
.ball-play-nav {
    padding: 25px;
}

.place-link-left {
    text-align: right;
  
}
.place-link-right {
    text-align: left;
   
}
.quesion-point-view {
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.qu-icon.rotate-90 {
    transform: rotate(182deg);
}
.qu-icon {
    position: absolute;
    transform: rotate(87deg);
    padding: 2px;
    transition-duration: 300ms;
    font-size: 40px;
    color: var(--accent-color);
}
.faq-item {
    cursor: pointer;
    margin-top: 15px;
}
.font-semibold {
    padding-left: 51px;
    margin-top: 5px;
    padding-top: 13px;
    font-weight: 700;
    font-size: 25px;
}

.faq-list p {
    padding-left: 51px;
}
.middle-info {
    padding: 20px;
    width: 60%;
    margin: auto;
    font-size: 20px;
}
.button-interaction {
    padding-top: 30px;
}
.button-interaction button {
    margin-right: 10px;
}
.strong {
    font-weight: 600;
}
.strong2 {
    font-weight: 800;
}
.pd30 {
    padding: 30px;
}
ul.social-work {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}
ul.social-work li a{
    display: block;
    padding: 3px;
    color: var(--second-color);
    font-size: 20px;
}
.foot-socials-box {
    padding-top: 50px;
}
ul.menu-foot {
    list-style: none;
    padding: 0;
    width: 160px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 0px;
    height: 100%;
    display: block;
}
.foot-navi-menu-box {
    display: flex;
    justify-content: end;
    position: relative;
}
ul.menu-foot li a {
    display: block;
    color: var(--default-color);
    margin-top: 2px;
    margin-bottom: 5px;
}